{% extends "account/base.html" %}

{% load i18n %}
{% load account  %}

{% load static %}
{% load crispy_forms_tags %}


{% block content %}


<!-- LOGIN -->
<div class="card p-4">
    <div class="card-body">

      
        <h1>{% trans 'Please enter OTP' %}</h1>
        <p class="text-muted">{% blocktrans %} "Good job! Always better to be secure then sorry." {% endblocktrans %}</p>
        {% include 'messages.html' %}


        <form class="user" method="POST" action="">
            {% csrf_token %}
            {{ form|crispy }}


            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary px-4" type="submit">{% trans 'Verify' %}</button>
                </div>

            </div>
        </form>
    </div>
</div>
<!-- end login -->


<div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
    <div class="card-body text-center">
        <div>
            <h2>{% blocktrans %}Use your Google Authenticator app to get your token. {% endblocktrans %}</h2>


        </div>
    </div>
</div>
{% endblock %}